In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex = ["USA", "Canada", "Mexico"]

In [4]:
mydata = [1776, 1867, 1821]

In [11]:
myser = pd.Series(mydata,myindex)

In [12]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [7]:
myser[0]

1776

In [8]:
myser["USA"]

1776

In [10]:
myser[1]

1867

In [13]:
ages = {"Sam":5, "John":10, "Fiz":7}

In [14]:
ages

{'Sam': 5, 'John': 10, 'Fiz': 7}

In [15]:
pd.Series(ages)

Sam      5
John    10
Fiz      7
dtype: int64

In [16]:
q1 = {"Japan":80, "China":450, "India":200, "USA":250}

In [17]:
q2 = {"Brazil":100, "China":500, "India":210, "USA":260}

In [18]:
sales_q1=pd.Series(q1)

In [19]:
sales_q2=pd.Series(q2)

In [21]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [22]:
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [23]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [24]:
sales_q1.add(sales_q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [32]:
((sales_q1.add(sales_q2,fill_value=0)))

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64